language: python
sudo: false
python:
  - "3.5"
  - "3.6"
  - "3.7"

services:
  - postgresql

before_script:
  - psql -c "create database neuralknight;" -U postgres

#set some environment variables
env:
  - TEST_DATABASE_URL='postgres://127.0.0.1:5432/neuralknight'

# commands to run tests
script:
  - pytest

notifications:
  email: false
